In [1]:
import pandas as pd

In [5]:
reviews = pd.read_csv("C:/Users/Ellis-pc/Documents/Projects/wine-reviews-exercise-Mellis21/data/winemag-data-130k-v2.csv")

In [7]:
reviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [70]:
function_dict = {"description": "count", "points": "mean"}

In [76]:
reviews_per_country = reviews.groupby(["country"]).aggregate(function_dict).sort_values(by = 'description', ascending = False)

In [78]:
reviews_per_country

                        description     points
country
US                            54504  88.563720
France                        22093  88.845109
Italy                         19540  88.562231
Spain                          6645  87.288337
Portugal                       5691  88.250220
Chile                          4472  86.493515
Argentina                      3800  86.710263
Austria                        3345  90.101345
Australia                      2329  88.580507
Germany                        2165  89.851732
New Zealand                    1419  88.303030
South Africa                   1401  88.056388
Israel                          505  88.471287
Greece                          466  87.283262
Canada                          257  89.369650
Hungary                         146  89.191781
Bulgaria                        141  87.936170
Romania                         120  86.400000
Uruguay                         109  86.752294
Turkey                           90  88.088889
Slovenia                         87  88.068966
Georgia                          86  87.686047
England                          74  91.581081
Croatia                          73  87.219178
Mexico                           70  85.257143
Moldova                          59  87.203390
Brazil                           52  84.673077
Lebanon                          35  87.685714
Morocco                          28  88.571429
Peru                             16  83.562500
Ukraine                          14  84.071429
Macedonia                        12  86.833333
Serbia                           12  87.500000
Czech Republic                   12  87.250000
Cyprus                           11  87.181818
India                             9  90.222222
Switzerland                       7  88.571429
Luxembourg                        6  88.666667
Armenia                           2  87.500000
Bosnia and Herzegovina            2  86.500000
China                             1  89.000000
Slovakia                          1  87.000000
Egypt                             1  84.000000

In [80]:
reviews_per_country = pd.DataFrame(reviews_per_country)

In [84]:
reviews_per_country = reviews_per_country.rename(columns = {"description":"count"})

In [86]:
reviews_per_country

                        count     points
country
US                      54504  88.563720
France                  22093  88.845109
Italy                   19540  88.562231
Spain                    6645  87.288337
Portugal                 5691  88.250220
Chile                    4472  86.493515
Argentina                3800  86.710263
Austria                  3345  90.101345
Australia                2329  88.580507
Germany                  2165  89.851732
New Zealand              1419  88.303030
South Africa             1401  88.056388
Israel                    505  88.471287
Greece                    466  87.283262
Canada                    257  89.369650
Hungary                   146  89.191781
Bulgaria                  141  87.936170
Romania                   120  86.400000
Uruguay                   109  86.752294
Turkey                     90  88.088889
Slovenia                   87  88.068966
Georgia                    86  87.686047
England                    74  91.581081
Croatia                    73  87.219178
Mexico                     70  85.257143
Moldova                    59  87.203390
Brazil                     52  84.673077
Lebanon                    35  87.685714
Morocco                    28  88.571429
Peru                       16  83.562500
Ukraine                    14  84.071429
Macedonia                  12  86.833333
Serbia                     12  87.500000
Czech Republic             12  87.250000
Cyprus                     11  87.181818
India                       9  90.222222
Switzerland                 7  88.571429
Luxembourg                  6  88.666667
Armenia                     2  87.500000
Bosnia and Herzegovina      2  86.500000
China                       1  89.000000
Slovakia                    1  87.000000
Egypt                       1  84.000000

In [88]:
reviews_per_country.points.round(1)

country
US                        88.6
France                    88.8
Italy                     88.6
Spain                     87.3
Portugal                  88.3
Chile                     86.5
Argentina                 86.7
Austria                   90.1
Australia                 88.6
Germany                   89.9
New Zealand               88.3
South Africa              88.1
Israel                    88.5
Greece                    87.3
Canada                    89.4
Hungary                   89.2
Bulgaria                  87.9
Romania                   86.4
Uruguay                   86.8
Turkey                    88.1
Slovenia                  88.1
Georgia                   87.7
England                   91.6
Croatia                   87.2
Mexico                    85.3
Moldova                   87.2
Brazil                    84.7
Lebanon                   87.7
Morocco                   88.6
Peru                      83.6
Ukraine                   84.1
Macedonia                 86.8
Serbia                    87.5
Czech Republic            87.2
Cyprus                    87.2
India                     90.2
Switzerland               88.6
Luxembourg                88.7
Armenia                   87.5
Bosnia and Herzegovina    86.5
China                     89.0
Slovakia                  87.0
Egypt                     84.0
Name: points, dtype: float64

In [90]:
reviews_per_country['points'] = reviews_per_country['points'].round(1)

In [92]:
reviews_per_country

                        count  points
country
US                      54504    88.6
France                  22093    88.8
Italy                   19540    88.6
Spain                    6645    87.3
Portugal                 5691    88.3
Chile                    4472    86.5
Argentina                3800    86.7
Austria                  3345    90.1
Australia                2329    88.6
Germany                  2165    89.9
New Zealand              1419    88.3
South Africa             1401    88.1
Israel                    505    88.5
Greece                    466    87.3
Canada                    257    89.4
Hungary                   146    89.2
Bulgaria                  141    87.9
Romania                   120    86.4
Uruguay                   109    86.8
Turkey                     90    88.1
Slovenia                   87    88.1
Georgia                    86    87.7
England                    74    91.6
Croatia                    73    87.2
Mexico                     70    85.3
Moldova                    59    87.2
Brazil                     52    84.7
Lebanon                    35    87.7
Morocco                    28    88.6
Peru                       16    83.6
Ukraine                    14    84.1
Macedonia                  12    86.8
Serbia                     12    87.5
Czech Republic             12    87.2
Cyprus                     11    87.2
India                       9    90.2
Switzerland                 7    88.6
Luxembourg                  6    88.7
Armenia                     2    87.5
Bosnia and Herzegovina      2    86.5
China                       1    89.0
Slovakia                    1    87.0
Egypt                       1    84.0

In [94]:
reviews_per_country.to_csv("reviews-per-country.csv")